nav {
  background-color: #C12127;
  color: rgba(255,255,255,0.8);
  padding-top: 15px;
  height: 40px;
}

nav a {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}

.top-links {
  display: inline-block;
  float: right;
  padding: 0 0 0 0;
  margin: -15px 0 0 0;
}

.top-links li {
  display: inline-block;
  margin: 0 10px;
}

.top-left {
  
}

.searchbar {
  overflow: hidden;
  background: rgb(31, 82, 111);
}

.searchbar .logo {
  float: left;
  display: block;
  text-align: center;
  width: 100px;
  margin-top: 8px;
}

.searchbar input[type=text] {
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  margin-left: 20px;
  font-size: 17px;
  width: 60%;
}

.searchbar a {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  font-size: 17px;
}

#headertext {
  margin: 0 auto;
}
